
.meta{
    span, p{
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.28px;
        padding: 8px 16px;
        border-radius: 4px;
        font-weight: 500;
    }
    span{
        background-color: #a684ff;
    }
}

.titulo{
    h3{
       line-height: 22px;
        a{
            font-size: 18px;
            
            letter-spacing: -0.36px;
        }
    }
    p{
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.28px;
    }
    
}

.postsContainer{
    a{
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -0.32px;
    }
    h2{
        font-size: 28px;
        line-height: 32px;
    }
}

@media(max-width: 680px){
    .titulo{
        gap: 8px;
        h3{
            line-height: 22px;
            a{
                font-size: 18px;
                
                letter-spacing: -0.36px;
            }
        }
        p{
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.28px;
        }
        
    }

    .postsContainer{
        gap: 32px;

        h2{
            font-size: 22px;
            line-height: 32px;
        }
    }
    
}