@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --violet: #a684ff;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}



.container{
  max-width: 1440px;
  padding: 64px 70px;
  margin: auto;
}

.color-amarelo-yelly{
  color: var(--amarelo-yelly);
}

.color-amarelo-claro{
  color: var(--amarelo-claro);
}
.color-preto{
  color: var(--color-preto);
}
.color-preto-25{
  color: #1a1a1a40;
}
.color-bg-branco{
  color: var(--color-branco);
}
.color-branco{
  color: var(--branco);
}
.bg-branco{
  background-color: var(--branco);
}
.bg-transparent{
  background-color: transparent;
}
.bg-inherit{
  background-color: inherit;
}
.bg-bg-branco{
  background-color: var(--bg-branco);
}
.bg-preto{
  background-color: var(--bg-preto);
}
.text-center{
  text-align: center;
}
.font-light{
  font-weight: 300;
}
.font-regular{
  font-weight: 400;
}
.font-medium{
  font-weight: 500;
}
.font-semiBold{
  font-weight: 600;
}
.font-bold{
  font-weight: 700;
}

.width-fill{
  width: 100%;
}
.cursor-pointer{
  cursor: pointer;
}


/* Display */
.display-none{
  display: none;
}
.display-block{
  display: block;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.flex-row{
  display: flex;
  flex-direction: row;
  
}
.grid-col-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-col-3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-col-minmax-400{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  
}
.grid-col-minmax-fill{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  
}

.align-self-center{
  align-self: center;
}
.align-self-start{
  align-self: flex-start;
}
.align-self-end{
  align-self: flex-end;
}

.overflow-x-hidden{
  overflow-x: hidden;
}
.overflow-y-hidden{
  overflow-y: hidden;
}

.overflow-x-auto{
  overflow-x: auto;
}
.overflow-y-auto{
  overflow-y: auto;
}



.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.justify-around{
  justify-content: space-around;
}
.align-center{
  align-items: center;
}
.align-start{
  align-items: flex-start;
}
.align-end{
  align-items: flex-end;
}
.flex-wrap{
  flex-wrap: wrap;
}


/* Gap */

.gap-4{
  gap: 4px;
}
.gap-8{
  gap: 8px;
}
.gap-16{
  gap: 16px;
}
.gap-32{
  gap: 32px;
}
.gap-64{
  gap: 64px;
}
.gap-64-32{
  gap: 64px 32px;
}


/* Padding */
.m-top-8{
  margin-top: 8px;
}
.px-0{
  padding-left: 0px;
  padding-right: 0px;
}
.px-4{
  padding-left: 4px;
  padding-right: 4px;
}
.px-8{
  padding-left: 8px;
  padding-right: 8px;
}
.px-16{
  padding-left: 16px;
  padding-right: 16px;
}
.px-32{
  padding-left: 32px;
  padding-right: 32px;
}
.px-70{
  padding-left: 70px;
  padding-right: 70px;
}

.py-0{
  padding-top: 0px;
  padding-bottom: 0px;
}
.py-4{
  padding-top: 4px;
  padding-bottom: 4px;
}
.py-8{
  padding-top: 8px;
  padding-bottom: 8px;
} 
.py-16{
  padding-top: 16px;
  padding-bottom: 16px;
}
.py-32{
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Border */
.border-1-preto{
  border: 1px solid var(--color-preto);
}
.border-1-yelly{
  border: 1px solid var(--amarelo-yelly);
}
.border-radius-4{
  border-radius: 4px;
}
.border-radius-8{
  border-radius: 8px;
}
.border-radius-16{
  border-radius: 16px;
}
.border-radius-32{
  border-radius: 32px;
}
.border-radius-100{
  border-radius: 100px;
}
.border-none{
  border: none;
}


.max-width-1080{
  max-width: 1080px;
  margin: auto;
}

.max-width-850{
  max-width: 850px;
  margin: auto;
}

@media (max-width: 1080px){
  .flex-col-lg{
    flex-direction: column;
  }
  .flex-row-lg{
    flex-direction: row;
  }
}

@media (max-width: 850px){
  .container{
    padding: 32px;
  }
  .flex-col-md{
    flex-direction: column;
  }
  .flex-row-md{
    flex-direction: row;
  }
  .gap-4-md{
    gap: 4px;
  }
  .gap-8-md{
    gap: 8px;
  }
  .gap-16-md{
    gap: 16px;
  }
  .gap-32-md{
    gap: 32px;
  }
  .gap-64-md{
    gap: 64px;
  }
}

@media (max-width: 680px){
  .container{
    padding: 32px 16px;
  }
  .flex-col-sm{
    flex-direction: column;
  }
  .flex-row-sm{
    flex-direction: row;
  }

  .display-none-sm{
    display: none;
  }
  .display-block-sm{
    display: block;
  }
  .gap-4-sm{
    gap: 4px;
  }
  .gap-8-sm{
    gap: 8px;
  }
  .gap-16-sm{
    gap: 16px;
  }
  .gap-32-sm{
    gap: 32px;
  }
  .gap-64-sm{
    gap: 64px;
  }

  .py-16-sm{
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .grid-col-minmax-fill-sm{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    
  }

  .grid-col-2-sm{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .px-0-sm{
    padding-left: 0px;
    padding-right: 0px;
  }
  .px-4-sm{
    padding-left: 4px;
    padding-right: 4px;
  }
  .px-8-sm{
    padding-left: 8px;
    padding-right: 8px;
  }
  .px-16-sm{
    padding-left: 16px;
    padding-right: 16px;
  }
  .px-32-sm{
    padding-left: 32px;
    padding-right: 32px;
  }
  .px-70-sm{
    padding-left: 70px;
    padding-right: 70px;
  }

  .py-0-sm{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .py-4-sm{
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .py-8-sm{
    padding-top: 8px;
    padding-bottom: 8px;
  } 
  .py-16-sm{
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .py-32-sm{
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .text-center-sm{
    text-align: center;
  }
  .text-left-sm{
    text-align: left;
  }
  .text-right-sm{
    text-align: right;
  }

  
 
}