.sideBar{
    position: sticky;
    top: 0;
    height: 100vh;     
    
    padding: 16px 8px;
    justify-content: space-between;
    width: 350px;
    border-right: 1px solid #1a1a1a40;

    a, .sair{
        
        padding: 8px 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex;
        gap: 16px;
        font-size: 16px;
        line-height: 16px;
        font-weight: 500;
        width: 100%;
        color: #ffffff;
    }
 
    a:hover{
        background-color: #ffffff2b;
        border-radius: 2px;
        color: #000000;

        .svg{
            filter: invert();
        }
    }

    .ativo{
        background-color: #ffffff72;
        color: #000000;
        .svg{
            filter: invert(1);
        }
    }

    

    .apenasTelaCheia{
        display: flex;
    }
    
}



.fechado{
    
    width: fit-content;
    a{
        justify-content: center;
    }

    .apenasTelaCheia{
        display: none;
    }

}

.sair{
    max-width: 100%;
    height: 56px;
    border: none;
    background-color: transparent;
    padding: 8px 16px;
}
.sair:hover{
    cursor: pointer;
    background-color: #ffffff2b;
}