.app{
    width: 100%;
    background-color: #f5f5f5;
}

.meta{
    span, p{
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.28px;
        padding: 8px 16px;
        border-radius: 4px;
        font-weight: 500;
    }
    span{
        background-color: var(--amarelo-yelly);
    }
}


@media(max-width: 680px){

    .titulo{
        h1{
            font-size: 24px;
            line-height: 24px;
        }

        p{
            font-size: 16px;
            line-height: 22px;
        }
    }
    
}