.label{
    line-height: 24px;
}
.containerClasses{
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px; 
    line-height: 24px;
    border: 1px solid #8282C6;

    svg{
        cursor: pointer;
        min-width: 24px;                    
    }

    input{
        border: none;
        outline: none;
        font-size: 16px; 
        line-height: 24px;
        
    }
   
}

