.navBlog a:hover{
    background-color: #a684ff;
}

.navBlog{
    a{
        border: 1px solid #1a1a1a40;
    }

    .ativo{
        border: 1px solid #a684ff;
    }
}

@media(max-width: 680px){
    
    .navBlog{

        padding: 8px 16px;
        
        a{
            background-color: aliceblue;
            font-size: 12px;
            line-height: 16px;
        }
    }

    
}